// colors
$Font-snow: #ffffff;
$Font-dark: #000000;
$Font-dark-2: #1b1b1b;
$Font-red: #C60635;
$Gray-bg: #484747;
$Background-dark:#303030;
$Gray-bg-2:#D6DCE0;

// fonts
$primaryFont: 'HelveticaNeueCyr', sans-serif;


